---
title: Le Wagon - Middleman
---
  <div class="home">
    <%= partial "components/banner" %>






    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= partial "card", locals: {github_name: 'jpheos'} %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= partial "card", locals: {github_name: 'kevcha'} %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= partial "card", locals: {github_name: 'jpheos'} %>
        </div>
      </div>
    </div>


    <%= partial "user_dashboard" %>
  </div>
